// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: 300;
    color: $theme-color;
  }

  img {
    width: $logo-image-size;
    height: $logo-image-size;
    margin-bottom: 10px;
    margin-right: 8px;
    border-radius: $logo-image-size;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      box-shadow: 0 1px 12px 0 $theme-color;
    }
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
