.post-header {
  .post-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-font-family;
  }

  .post-link {
    @include underline-from-center;
    color: $theme-color;
  }

  .post-meta {
    .post-time {
      font-size: 15px;
      color: $post-meta-font-color;
      padding-right: 5px;
    }

    .post-category {
      display: inline;
      font-size: 14px;
      border-radius: 1px;
      color: $theme-color;
      background-color: rgba(red($theme-color),
                             green($theme-color),
                             blue($theme-color), 0.1);

      //&::before {
      //  content: '·';
      //}

      a {
        color: inherit;

        & + a {
          &::before {
            content: '/';
            margin-right: 5px;
            color: $post-meta-font-color !important;
          }
        }

        &:hover {
          color: #26963C;
          background-color: rgba(red($theme-color),
                             green($theme-color),
                             blue($theme-color), 0.2);
        }
      }
    }

    .post-visits {
      display: inline-block;
      font-size: 14px;
      color: $post-meta-font-color;
      visibility: hidden;

      &::before {
        content: '·';
      }
    }
  }
}
